<!DOCTYPE html>
<html>

<head>
<script src= "http://ajax.googleapis.com/ajax/libs/angularjs/1.2.26/angular.min.js"></script>
</head>

<body>

<div ng-app="" ng-controller="customersController"> 

<input type="text" ng-model="show.name"><br>

<button ng-click="find()">Search</button>


<table>
    <ul>
  <tr ng-repeat="x in titles">
    <td><li><a href="http://stormy-temple-9571.herokuapp.com/search/show?title={{ x }}">{{ x }}</a></li></td>
  </tr>
</ul>
</table>

</div>

<script>
function customersController($scope,$http) {
    $scope.find = function(){
        var link = "http://stormy-temple-9571.herokuapp.com/search/result?title=" + $scope.show.name;
        $http.get(link).success(function(response) {$scope.titles = response;});
}
}
</script>

</body>
</html>
